{% extends 'commerce-widgets/layout' %}

{% block widget %}

   <canvas id="myChart" width="800" height="250"></canvas>

   <div class="statistic-container">
      <div class="statistic -cart-abandoned">
         <strong>11</strong>
         <small>Abandoned Carts</small>
      </div>
      <div class="statistic -cart-completed">
         <strong>34</strong>
         <small>Completed Carts</small>
      </div>
   </div>

{% endblock %}
