{# {{ limit }} #}

<div class="commerce-widgets">
   <canvas id="myChart" width="800" height="250"></canvas>
   <div class="statistic-container">
      <div class="statistic -cart-abandoned">
         <strong>100</strong>
         <small>Abandoned Carts</small>
      </div>
      <div class="statistic -cart-completed">
         <strong>100</strong>
         <small>Completed Carts</small>
      </div>
   </div>
</div>
