<div class="commerce-widgets">

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th>Product</th>
            <th>SKU</th>
            <th>Price</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <div class="element hasstatus">
                  <span class="status live"></span>
                  <div class="label">
                     <span class="title">
                        <a href="http://craft-3-plugins.local/admin/commerce/products/clothing/2-ant-001">A New Toga</a>
                     </span>
                  </div>
               </div>
            </td>
            <td>
               <span class="sku">MED0701</span>
            </td>
            <td>&pound;12.00</td>
         </tr>
         <tr>
            <td>
               <div class="element hasstatus">
                  <span class="status disabled"></span>
                  <div class="label">
                     <span class="title">
                        <a href="http://craft-3-plugins.local/admin/commerce/products/clothing/2-ant-001">A New Toga</a>
                     </span>
                  </div>
               </div>
            </td>
            <td>
               <span class="sku">MED0701</span>
            </td>
            <td>&pound;12.00</td>
         </tr>
      </tbody>
   </table>

   <a href="#" class="btn">View All Products</a>

</div>
