<div class="commerce-widgets">

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th>Time</th>
            <th>Total</th>
            <th>Orders</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               Today
               <span class="light small">19th Sept 2018</span>
            </td>
            <td>
               &pound;0.00
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
            <td>
               5
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
         </tr>
         <tr>
            <td>
               Week
               <span class="light small">19th Sept 2018 - 19th Sept 2018</span>
            </td>
            <td>
               &pound;0.00
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
            <td>
               5
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
         </tr>
         <tr>
            <td>
               Month
               <span class="light small">September</span>
            </td>
            <td>
               &pound;0.00
               <span class="compare-arrow -more" title="+£4.00 compared to last month">&#9650;</span>
            </td>
            <td>
               5
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
         </tr>
         <tr>
            <td>
               Year
               <span class="light small">2018</span>
            </td>
            <td>
               &pound;0.00
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
            <td>
               5
               <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span>
            </td>
         </tr>
      </tbody>
   </table>

   <a href="#" class="btn">View All Orders</a>

</div>
