{% extends 'commerce-widgets/layout' %}

{% block widget %}

   <div class="goal-values">
      <strong>{{ type == 'orders' ? total|number_format() : total|currency(commerce.currency) }}</strong>
      <small>/ {{ type == 'orders' ? targetValue|number_format() : targetValue|currency(commerce.currency) }}</small>
   </div>

   <div class="progress-bar{% if total >= targetValue %} -full{% endif %}">
      <div class="progress-bar-fill" style="width: {{ (total/targetValue) / 100 }}%"></div>
   </div>

   <div class="goal-duration">
      {{ targetDuration|title }} Goal
   </div>

{% endblock %}
