{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerce Widgets plugin for Craft CMS
 *
 * CommerceWidgetsWidget Widget Body
 *
 * @author    ByMayo
 * @copyright Copyright (c) 2018 ByMayo
 * @link      http://bymayo.co.uk
 * @package   CommerceWidgets
 * @since     2.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@bymayo/commercewidgets/assetbundles/commercewidgetswidgetwidget/dist', true) ~ '/img/CommerceWidgetsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
