{#
/**
 * Commerce Widgets
 *
 * @author    Jason Mayo
 * @twitter   @madebymayo
 * @package   Commerce Widgets
 *
 */
#}

{% set commerce = craft.commerce.cart %}

<div class="commercewidgets productsrecent">

	    <table class="data fullwidth">
	        <thead>
	            <tr>
	                <th>{{ "Time"|t }}</th>
					<th>{{ "Total"|t }}</th>
					<th>{{ "Orders"|t }}</th>
	            </tr>
	        </thead>
	        <tbody>
				<tr>
	        		<td>
	        			Today<br>
	        			<span class="light">8 September</span>
	        		</td>
	        		<td>{{ today|length }}</td>
	        		<td>0</td>
	        	</tr>
				<tr>
	        		<td>
	        			Yesterday<br>
	        			<span class="light">8 September</span>
	        		</td>
	        		<td>£0</td>
	        		<td>0</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			Week<br>
	        			<span class="light">8 September - 10 September</span>
	        		</td>
	        		<td>£0</td>
	        		<td>0</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			Month<br>
	        			<span class="light">September</span>
	        		</td>
	        		<td>£0</td>
	        		<td>0</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			Year<br>
	        			<span class="light">2016</span>
	        		</td>
	        		<td>£0</td>
	        		<td>0</td>
	        	</tr>
	        </tbody>
	    </table>
</div>