<div class="commerce-widgets">

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th></th>
            <th>Email Address</th>
            <th>Total Spent</th>
            <th>Total Orders</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><span class="rank -first">1</span></td>
            <td>
               <a href="#">
                  jaymayo@gmail.com
               </a>
               <span class="extra-label -registered">Registered</span>
            </td>
            <td>£300.00</td>
            <td>10</td>
         </tr>
         <tr>
            <td><span class="rank -second">2</span></td>
            <td>
               <a href="#">
                  jaymayo@gmail.com
               </a>
            </td>
            <td>£300.00</td>
            <td>10</td>
         </tr>
         <tr>
            <td><span class="rank -third">3</span></td>
            <td>
               <a href="#">
                  jaymayo@gmail.com
               </a>
            </td>
            <td>£300.00</td>
            <td>10</td>
         </tr>
         <tr>
            <td><span class="rank">4</span></td>
            <td>
               <a href="#">
                  jaymayo@gmail.com
               </a>
            </td>
            <td>£300.00</td>
            <td>10</td>
         </tr>
      </tbody>
   </table>

</div>
